 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Computer Science</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-swift-plain-wordmark colored"></i>
      <i class="iconify-inline" data-icon="cib:pytorch"></i>
      <i class="iconify-inline" data-icon="logos:tensorflow"></i>
      <p>Master's of Science in Computer Science - University of Chicago 2020 </p>
      <p>Highly experienced in Python. Coursework experience with Swift and C. Well-versed with PyTorch and Tensorflow
      with focus on computer vision and computational biology applications. Experience in GPU-based computing through ANL computing facilities. </p>
    </div>
    <div class="tech">
      <h2>Biology</h2>
      <i class="iconify-inline" data-icon="noto:brain"></i>
      <i class="iconify-inline" data-icon="noto:dna"></i>
      <i class="iconify-inline" data-icon="carbon:chart-line-data"></i>
      <i class="iconify-inline" data-icon="noto:microscope"></i>
      <p>Bachelor's of Art in Neuroscience - University of Chicago 2020</p>
      <p>Wet lab experience in fundamental biology and neuroscience techniques including single cell recording and fluorescent microscopy. Course work experience in fundamental bioinformatics and signal analysis. </p>
    </div>
<!--    <div class="tech">-->
<!--      <h2>Communication/Management</h2>-->
<!--      <i class="devicon-git-plain"></i>-->
<!--      <i class="devicon-gulp-plain colored"></i>-->
<!--      <i class="devicon-atom-original-wordmark"></i>-->
<!--      <p>3.5 years of retail management experience in retail setting including</p>-->
<!--    </div>-->
</div>
