<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SnapCoin iOS Application </h3>
<!--    <ul>-->
<!--&lt;!&ndash;      <li> <Automated Coin Segmentation></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li> <Counting ></li>&ndash;&gt;-->
<!--    </ul>-->
    <p> Automated real-time segmentation of American coins on a flat surface. Logging and counting capabilites. Inspired by desire to increase efficiency in retail management tasks. Final project in iOS development course at UChicago, Winter 2019.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CrossedWires Python Package </h3>
<!--    <ul>-->
<!--      <li> Featured Skills</li>-->
<!--    </ul>-->
    <p> Library created to explore the divergence between semantically equivalent models in PyTorch and TensorFlow and their relationship to the hyperparameter space using three different computer vision models and the CIFAR10 dataset. Open dataset with call for community contributions
    to improve model equivalence across deep learning frameworks. </p>
    <a class="project-link" href="https://arxiv.org/abs/2108.12768">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ephemeral_streams_example.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Ephemeral Stream Segmentation </h3>
<!--    <ul>-->
<!--&lt;!&ndash;      <li> <Automated Coin Segmentation></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li> <Counting ></li>&ndash;&gt;-->
<!--    </ul>-->
    <p> Application of sementic segmentation workflow to GIS dataset to capture ephemeral streams. Current iteration achieves 80% accuracy on test dataset and captures global features but model requires further development to improve IOU values.</p>
    <a class="project-link" href="https://github.com/maxzvyagin/ephemeral_streams_code">Check it out</a>
  </div>
</div>
