<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="sample_segmentation" src="{{ "/assets/img/ephemeral_streams_example.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Ephemeral Stream Segmentation </h3>
<!--    <ul>-->
<!--&lt;!&ndash;      <li> <Automated Coin Segmentation></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li> <Counting ></li>&ndash;&gt;-->
<!--    </ul>-->
    <p> Application of sementic segmentation workflow to GIS dataset to capture ephemeral streams. Current iteration achieves 80% accuracy on test dataset and captures global features but model requires further development to improve IOU values.
    Test set segmentation shown here.</p>
    <a class="project-link" href="https://github.com/maxzvyagin/ephemeral_streams_code">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="crossedwires_fig2" src="{{ "/assets/img/neurips_figure2_screenshot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CrossedWires Python Package </h3>
<!--    <ul>-->
<!--      <li> Featured Skills</li>-->
<!--    </ul>-->
    <p> Library created to explore the semantic divergence between syntactically equivalent models in PyTorch and TensorFlow and their relationship to the hyperparameter space using three different computer vision models and the CIFAR10 dataset. Open dataset with call for community contributions
    to improve model equivalence across deep learning frameworks. </p>
    <a class="project-link" href="https://arxiv.org/abs/2108.12768">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="snapcoin" src="{{ "/assets/img/snapcoin_rectangle.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Snap Coin - Smart Counter iOS Application </h3>
<!--    <ul>-->
<!--&lt;!&ndash;      <li> <Automated Coin Segmentation></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li> <Counting ></li>&ndash;&gt;-->
<!--    </ul>-->
    <p> Automated real-time machine learning driven object detection of American coins on a flat surface. Logging and counting capabilities. Inspired by desire to increase efficiency in retail management tasks. Final project in iOS development course at UChicago, Winter 2019.</p>
    <a class="project-link" href="https://apps.apple.com/us/app/snap-coin-smart-counter/id1503862387">Check it out</a>
  </div>
</div>
